@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  letter-spacing: 0.3px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-device-width: 480px) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.input > div,
button {
  height: 44px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

span,
a {
  cursor: pointer;
}

::-ms-reveal {
  display: none;
}
